<app-navbar>
  <ng-container role="desktop-middle">
    <app-navbar-default-links></app-navbar-default-links>
  </ng-container>
  <ng-container role="desktop-right">
    <app-button (onClick)="buy()" [className]="sharedState$"></app-button>
  </ng-container>
</app-navbar>
<main>
  <section class="product">
    <img [src]="'assets/images/' + product.picture" />
    <div>
      <h2>{{ product.name }}</h2>
      <p>Price: {{ product.price }}</p>
      <app-button (onClick)="buy()" [className]="sharedState$"></app-button>
    </div>
  </section>
</main>
<app-footer></app-footer>
